<%= form_for :recipe, url: recipes_path, html: { class: "form" } do |f| %>
  <% if @recipes %>
    <% if @recipe.errors.any? %>

      <div id="error_explanation">
        <h2>
          <%= pluralize(@recipe.errors.count, "error") %> prohibited
          this recipe from being saved:
        </h2>
        <ul>
          <% @recipe.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= f.label :title, class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :ingredient, class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= f.text_field :ingredient, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :instructions, class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= f.text_area :instruction, class: "form-control" %>
    </div>
  </div>

    <%= f.submit "Submit", class: "btn btn-default btn-primary" %>

<% end %>