<%= form_for @recipe, url: recipes_path, html: { class: "form" } do |f| %>
<!-- <% render 'error_message' %> -->

  <div class="form-group">
    <%= f.label :title, class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>


  <%= fields_for @ingredient class="form-group" do |i|%>
    <%= i.label :description, class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= i.text_field :description, class: "form-control" %>
    </div>
  <% end %>

  <%= f.submit "Submit", class: "btn btn-default btn-primary" %>
<% end %>