<p>
  <strong>Title:</strong>
  <%= @recipe.title %>
</p>

<h2>Ingredients:</h2>
<% if @recipe.ingredients.any? %>
  <%= @recipe.ingredient.each do |ingredient| %>
    <p>
      <strong>Ingredient</strong>
      <%= ingredient.quantity %>
      <%= ingredient.description %>
    </p>
  <% end %>
<% end %>

<h2>Instructions:</h2>
<% if @recipe.instructions.any? %>
  <%= @recipe.instruction.each do |instruction| %>
    <p>
      <strong>Instructions</strong>
      <%= instruction.description %>
    </p>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>